/*
    IranSansX fonts are considered a proprietary software. To gain information about
    the laws regarding the use of these fonts, please visit www.fontiran.com
    ----------------------------------------------------------------------
    This set of fonts are used in this project under the license: (VBG4C5)
    ----------------------------------------------------------------------
*/
@font-face {
  font-family: 'IRANSansXV';
  src: url('../public/fonts/IRANSansXV.woff2') format('woff2-variations'),     /* for safari ? */
       url('../public/fonts/IRANSansXV.woff2') format('woff2');                /* for others ? */
  font-weight: 100 900;
  font-display: fallback;
}

html,
body {
  margin: 0;
  padding: 0;
}

body [dir=rtl] {
  font-feature-settings: "ss02";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
